# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual Environment
pvr_env/
venv/
.env/

# Data (Large Files)
data/raw/
data/processed/
data/tensors/
scripts/
*.wav
*.mp3
*.flac
*.npy
*.zip

# OS
.DS_Store
Thumbs.db

# Project Specific
latex_error.log
*.aux
*.log
*.toc
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
